html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  width: 300px;
  margin: 0 auto;
}

form > div {
  padding: 0.25rem;
}

input {
  width: 100%;
  padding: 0.25rem;
}

button {
  padding: 0.5rem;
  background: none;
  border: 1px solid gray;
}
